:root {
  --color-violet: rgb(44, 5, 63);
  --color-white: #fff;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar-brand {
  font-size: 25px !important;
  font-family: "Montserrat";
}

.navbar-nav {
  margin-left: auto;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-family: "Montserrat";
  font-size: 1.4rem;
}

.navbar {
  padding: 0 0 1rem;
}

.bg-dark {
  background-color: var(--color-violet) !important;
}

.navbar-dark .navbar-nav .nav-link {
  color: var(--color-white);
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: var(--color-violet);
  background-color: var(--color-white);
}